@use '../partials/colors';
@use '../partials/mixins' as scr;


nav {
    background-color: colors.$ebony;
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 0.3px solid colors.$eerie-black;
    
    
    a {
        color: colors.$dutch-white;
        text-decoration: none;
        font-size: 1.2em;
        font-family:"Noto Sans", serif;
        font-weight: 700;
        margin-left: 10px;
        margin-right: 10px;

        &:hover {
            color: colors.$bittersweet-shimmer;
        }
    }
    
    
}


.landing {
    display: flex;
    flex-direction: column;
    background-color: colors.$eerie-black;
    height: 100vh;
    width: 100vw;

    &_heading-light {
        color: colors.$dutch-white;
        font-size: 3.5em;
        font-family: "Righteous", sans-serif; 
        font-weight: 400; 
        margin: 0%;
        padding-top: 200px;
        padding-left: 20px;
    }
    &_subheading-red {
        color: colors.$light-coral;
        font-size: 1.6em;
        font-family: "Noto Sans", serif; 
        font-weight: 630;
        margin: 0%;
        padding-left: 28px;
    }
    &_arrow {
        height: 80px;
        padding-right: 20px;
        padding-top: 160px;
        padding-left: 47%;
    }
}



@include scr.tablet {
      
    nav {
        height: 50px;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        
        a {
            font-size: 1.3em;
            margin-left: 15px;
            margin-right: 15px;
            &:hover {
                color: colors.$bittersweet-shimmer;
            }
        }
        
        
    }
    
    .landing {
        // border: 2px solid greenyellow;

        &_heading-light {
            font-size: 6em;
            padding-top: 270px;
            padding-left: 20px;
        }
        &_subheading-red {
            font-size: 2.7em;
            padding-left: 50px;
        }
        &_arrow {
            height: 110px;
            padding-top: 300px;
        }
    }
    
}


@include scr.large-tablet {
      
    nav {
        height: 50px;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
      
        a {
            font-size: 1.5em;
            margin-left: 25px;
            margin-right: 25px;
    
            &:hover {
                color: colors.$bittersweet-shimmer;
            }
        }
        
        
    }
    
    
    .landing {
        // border: 2px solid blueviolet;
    
        &_heading-light {
            font-size: 6.9em;
            padding-top: 370px;
            padding-left: 35px;
        }
        &_subheading-red {
            font-size: 3.2em;
            padding-left: 68px;
        }
        &_arrow {
            height: 170px;
            padding-top: 300px;
        }
    }
    
}


@include scr.laptop {
      
    nav {
        height: 50px;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;

        a {
            font-size: 1.5em;
            margin-left: 25px;
            margin-right: 25px;
    
            &:hover {
                color: colors.$bittersweet-shimmer;
            }
        }
        
        
    }
    
    
    .landing {
        // border: 2px solid pink;
    
        &_heading-light {
            font-size: 6.9em;
            padding-top: 170px;
            padding-left: 35px;
        }
        &_subheading-red {
            font-size: 3em;
            padding-left: 68px;
        }
        &_arrow {
            height: 170px;
            padding-top: 80px;
        }
    }
    
}


@include scr.desktop {
      
    nav {
        height: 50px;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;

        a {
            font-size: 1.5em;
            margin-left: 25px;
            margin-right: 25px;
    
            &:hover {
                color: colors.$bittersweet-shimmer;
            }
        }
        
        
    }
    
    
    .landing {
        // border: 2px solid red;
    
        &_heading-light {
            font-size: 6.9em;
            padding-top: 370px;
            padding-left: 35px;
        }
        &_subheading-red {
            font-size: 3.2em;
            padding-left: 68px;
        }
        &_arrow {
            height: 270px;
            padding-top: 200px;
        }
    }
    
}