@use '../partials/colors';
@use '../partials/mixins' as scr;

.projects {
    display: flex;
    background-color: colors.$eerie-black;
    // height: 100vh;


    &_menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        gap: 35px;
        padding-bottom: 80px;
    }
   
    &_body-box {
        background-color: colors.$dutch-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 65%;
    }
    
    &_heading-light {
        color: colors.$dutch-white;
        font-size: 2.2em;
        font-family: "Righteous", sans-serif; 
        font-weight: 400; 
        margin: 0%;
        padding-top: 80px;
        padding-bottom: 50px;
        
    }
    &_button {
        color: colors.$dutch-white;
        font-size: 1em;
        font-family: "Noto Sans", serif; 
        font-weight: 630;
        display: flex;
        background-color: colors.$ebony;
        height: 55px;
        width: 135px;
        border-radius: 5%;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        &:hover {
            background-color: colors.$bittersweet-shimmer;
        }
        
        &--current {
            color: colors.$dutch-white;
            font-size: 1em;
            font-family: "Noto Sans", serif; 
            font-weight: 630;
            display: flex;
            background-color: colors.$bittersweet-shimmer;
            height: 55px;
            width: 135px;
            border-radius: 5%;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            // border: dashed 5px colors.$light-coral;

            &:hover {
                background-color: colors.$light-coral;
                // border: dashed 5px colors.$bittersweet-shimmer;
                color: colors.$ebony;

            }
        }

    }

    img {
        height: 180px;
        padding-top: 100px;
        padding-bottom: 15px;
    }

    p {
        color: colors.$eerie-black;
        font-family: "Noto Sans", serif; 
        font-size: 0.85em;
        margin-left: 30px;
        margin-right: 30px;
        font-weight: 500;
    }

    &_link {
        text-decoration: none;
        color: colors.$light-coral;
        font-family: "Noto Sans", serif; 
        font-size: 0.85em;
        font-weight: 700;
        &:hover {
            color: colors.$bittersweet-shimmer;
        }
    }
    
}


@include scr.tablet { 
    .projects {
        // border: 2px solid greenyellow;

        &_heading-light {
            font-size: 3em;
            padding-top: 150px;
            padding-bottom: 70px;
        }

        img {
            height: 250px;
            padding-top: 170px;
            padding-bottom: 30px;
        }

        p {
            font-size: 1em;
            margin-left: 70px;
            margin-right: 70px;
        }

        &_link {
            font-size: 1em;
        }

        &_button {
            font-size: 1.5em;
            height: 60px;
            width: 195px;
            
            &--current {
                font-size: 1.5em;
                height: 60px;
                width: 195px;
                
            }
    
        }
    }

    
}

@include scr.large-tablet { 
    .projects {
        // border: 2px solid blueviolet;

        &_heading-light {
            font-size: 4em;
            padding-top: 150px;
            padding-bottom: 70px;
        }

        img {
            height: 320px;
            padding-top: 170px;
            padding-bottom: 30px;
        }

        p {
            font-size: 1.1em;
            margin-left: 70px;
            margin-right: 70px;
        }

        &_link {
            font-size: 1.1em;
        }

        &_button {
            font-size: 1.5em;
            height: 80px;
            width: 225px;
            
            &--current {
                font-size: 1.5em;
                height: 80px;
                width: 225px;
                
            }
    
        }
    }

    
}

@include scr.laptop { 
    .projects {
        // border: 2px solid pink;

        &_heading-light {
            font-size: 4em;
            padding-top: 75px;
            padding-bottom: 1px;
        }

        img {
            height: 350px;
            padding-top: 90px;
            padding-bottom: 10px;
        }

        &_menu {
            gap: 45px;
        }

        p {
            font-size: 0.9em;
            margin-left: 40px;
            margin-right: 40px;
        }

        &_link {
            font-size: 0.9em;
        }

        &_button {
            font-size: 1.5em;
            height: 70px;
            width: 225px;
            
            &--current {
                font-size: 1.5em;
                height: 70px;
                width: 225px;
                
            }
    
        }
    }
    
}

@include scr.desktop { 
    .projects {
        // border: 2px solid red;

        &_heading-light {
            font-size: 6em;
            padding-top: 75px;
            padding-bottom: 1px;
        }

        img {
            height: 550px;
            padding-top: 90px;
            padding-bottom: 40px;
        }

        &_menu {
            gap: 75px;
            width: 30%;
        }

        &_body-box {
            width: 70%;
        }

        p {
            font-size: 1em;
            margin-left: 45px;
            margin-right: 45px;
        }

        &_link {
            font-size: 1em;
        }

        &_button {
            font-size: 2em;
            height: 100px;
            width: 325px;
            
            &--current {
                font-size: 2em;
                height: 100px;
                width: 325px;
                
            }
    
        }
    }
    
}